<div class="container-fluid" id="homePage">
	<div class="centerDiv" id="homePageRow">
		<h2>Coming Soon, Ready?</h2>
		<button class="btn btn-default UserLogin" data-key="loginBtn">Login</button>
		<button class="btn btn-default UserLogin" data-key="regBtn">Request Access</button>
	</div>
</div>
