<div class="container-fluid" id="homePage">
        <form class="form-inline loginDiv">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Xavier@Argo.com">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default" >Login</button>
        </form>
</div>
